body {background-color: #F1F1F1;}

.box3 {
    width: 550px;
    height: 250px;             
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    position: absolute;
    left: 85px;
    top: 375px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease-in-out;
}

.box4 {
    width: 550px;
    height: 250px;              
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    position: absolute;
    top: 75px;
    left: 685px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease-in-out;
}

.box5 {
    width: 250px;
    height: 250px;
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    position: absolute;
    top: 375px;
    left: 685px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease-in-out;
    
}

.box6 {
    width: 250px;
    height: 250px;
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    position: absolute;
    top: 375px;
    left: 985px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease-in-out;
}


.box7 {
    width: 100px;
    height: 100px;
    background-color: #003B4B;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    position: absolute;
    top: 35px;
    left: 75px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease-in-out;
}


    .container {
        position: absolute;
        width: 1400px;                
        height: 700px;                
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .box1 {
        width: 250px;
        height: 250px;
        background-color: #ffffff;
        padding: 20px;
        text-align: center;
        border-radius: 15px;
        position: absolute;
        top: 75px;
        left: 85px;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
        display: flex;
        justify-content: center;  /* Wyśrodkowanie poziome */
        align-items: center;      /* Wyśrodkowanie pionowe */
        transition: all 0.3s ease-in-out;
    }
    
    .text {
        font-weight: bold;
        font-family: 'League Spartan', sans-serif;
        font-size: 40px;
        color: #003B4B;
        position: relative;
        top: 80px; /* Przesunięcie tekstu o 60px w dół, wciąż wewnątrz boxa */
        text-align: center;
        transition: all 0.3s ease-in-out;
    }

    .box2 {
        width: 250px;
        height: 250px;
        background-color: #ffffff;
        padding: 20px;
        text-align: center;
        border-radius: 15px;
        position: absolute;
        top: 75px;
        left: 385px;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
        display: flex;
        justify-content: center;  /* Wyśrodkowanie poziome */
        align-items: center;      /* Wyśrodkowanie pionowe */
        transition: all 0.3s ease-in-out;
    }

       
    .text1 {
        font-weight: bold;
        font-family: 'League Spartan', sans-serif;
        font-size: 40px;
        color: #0099C3;
        position: relative;
        top: 80px; /* Przesunięcie tekstu o 60px w dół, wciąż wewnątrz boxa */
        text-align: center;
    }
    
    .box8 {
        width: 100px;
        height: 100px;
        background-color: #0099C3;
        padding: 20px;
        text-align: center;
        border-radius: 15px;
        position: absolute;
        top: 109px;
        left: 460px;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
        transition: all 0.3s ease-in-out;
    }


    .box1:hover {
        background-color: #d6d6d6; /* Zmiana koloru tła */
    }

    .box2:hover {
        background-color: #d6d6d6; /* Zmiana koloru tła */
    }


    .box3:hover {
        background-color: #d6d6d6; /* Zmiana koloru tła */
    }


    .box4:hover {
        background-color: #d6d6d6; /* Zmiana koloru tła */
    }


    .box5:hover {
        background-color: #d6d6d6; /* Zmiana koloru tła */
    }


    .box6:hover {
        background-color: #d6d6d6; /* Zmiana koloru tła */
        
    }


    .box7:hover {
        transform: scale(1.1);

    }

    .box10:hover {
        transform: scale(1.1);

    }

    .gradient-box:hover {

        transform: scale(1.1);
    }

    .gradient-box2:hover {

        transform: scale(1.1);
    }
      
    .text6:hover {

        transform: scale(1.1);
    }

    .text7:hover {

        transform: scale(1.1);
    }



      
      #message {
        font-size: 20px;
        margin-top: 20px;
        color: rgba(255, 255, 255, 0.608);
        font-weight: bold;
        position: relative;
        top: 20px; /* Przesunięcie tekstu o 60px w dół, wciąż wewnątrz boxa */
        opacity: 0;
        transition: opacity 1s ease-out;
      }

      .gradient-box {
        width: 200px;
        height: 200px;
        background: linear-gradient(to right, #E60B09, #E9D022  );
        padding: 20px;
        text-align: center;
        border-radius: 15px;
        position: relative;
        bottom: 107px;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
        transition: all 0.3s ease-in-out;
      }
      

    #message.show {
    opacity: 1;
    }


    .text2 {
        font-weight: bold;
        font-family: 'League Spartan', sans-serif;
        font-size: 60px;
        color: #E9D022;
        position: relative;
        top: 80px; /* Przesunięcie tekstu o 60px w dół, wciąż wewnątrz boxa */
        text-align: center;
        position: relative;
        left: 100px;
        top: 10px;
        transition: all 0.3s ease-in-out;
    }



    .text3 {
        font-weight: bold;
        font-family: 'League Spartan', sans-serif;
        font-size: 60px;
        color: #E60B09;
        position:  relative;
        left: 100px;
        top: 130px;
        text-align: center;
        transition: all 0.3s ease-in-out;

    }






    .text4 {
        font-weight: bold;
        font-family: 'League Spartan', sans-serif;
        font-size: 60px;
        color: #E0A9BB;
        position: relative;
        top: 80px; /* Przesunięcie tekstu o 60px w dół, wciąż wewnątrz boxa */
        text-align: center;
        position: relative;
        left: 100px;
        top: 10px;
        transition: all 0.3s ease-in-out;
    }



    .text5 {
        font-weight: bold;
        font-family: 'League Spartan', sans-serif;
        font-size: 60px;
        color: #8338E3;
        position:  relative;
        left: 100px;
        top: 130px;
        text-align: center;
        transition: all 0.3s ease-in-out;


    }


    .gradient-box2 {
        width: 200px;
        height: 200px;
        background: linear-gradient(to right, #8338E3, #E0A9BB  );
        padding: 20px;
        text-align: center;
        border-radius: 15px;
        position: relative;
        bottom: 107px;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
        transition: all 0.3s ease-in-out;
      }


      .text6 {
    font-weight: bold;
    font-family: 'league Spartan', sans-serif;
    font-size: 60px;
    color: #160060;
    position: relative;
    top: 60px;
    transition: all 0.3s ease-in-out;
      }

      .text7 {
        font-weight: bold;
        font-family: 'Satisfy', sans-serif;
        font-size: 100px;
        color: #006682;
        position: relative;
        top: 60px;
        transition: all 0.3s ease-in-out;
        
          }

          .text8 {
            font-weight: bold;
            font-family: 'League Spartan', sans-serif;
            font-size: 40px;
            color: #0099C3;
            position: relative;
            top: 80px; /* Przesunięcie tekstu o 60px w dół, wciąż wewnątrz boxa */
            text-align: center;
            transition: all 0.3s ease-in-out;
          }

          .box10 {
            width: 100px;
            height: 100px;
            background-color: #0099C3;
            padding: 20px;
            text-align: center;
            border-radius: 15px;
            position: absolute;
            top: 35px;
            left: 75px;
            box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
            transition: all 0.3s ease-in-out;
        }

        #message1.show {
            opacity: 1;
            }

        #message2.show {
            opacity: 1;
            }

        #message3.show {
            opacity: 1;
            }


            #message1 {
                font-size: 20px;
                margin-top: 20px;
                color: rgba(255, 255, 255, 0.608);
                font-weight: bold;
                position: relative;
                top: 20px; /* Przesunięcie tekstu o 60px w dół, wciąż wewnątrz boxa */
                opacity: 0;
                transition: opacity 1s ease-out;
              }


              #message3 {
                font-size: 50px;
                margin-top: 20px;
                color: rgba(255, 255, 255, 0.608);
                font-weight: bold;
                position: relative;
                top: 40px; /* Przesunięcie tekstu o 60px w dół, wciąż wewnątrz boxa */
                opacity: 0;
                transition: opacity 1s ease-out;
              }


              #message2 {
                font-size: 50px;
                margin-top: 20px;
                color: rgba(255, 255, 255, 0.608);
                font-weight: bold;
                position: relative;
                top: 40px; /* Przesunięcie tekstu o 60px w dół, wciąż wewnątrz boxa */
                opacity: 0;
                transition: opacity 1s ease-out;
              }




              .text:hover {

                transform: scale(1.2);


              }

              .text8:hover {

                transform: scale(1.2);
            }

              .text4:hover {
                transform: scale(1.2);
              }


              .text5:hover {
                transform: scale(1.2);
              }



              .text3:hover {
                transform: scale(1.2);
              }


              .text2:hover {
                transform: scale(1.2);
              }